*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: black;
    color: white;
}

header{
    background-image: url(../Week_2/hpimgs/banner.jpg);
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
}

header h1{
    font-size: 75px;
    position: absolute;
    text-align: center;
}

nav {
    padding: 15px;
    position: sticky;
    top: 0px;
    background-color: black;
  }

  nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav li {
    width: 20%;
    display: inline-block;
    font-size: 25px;
  }

.study {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.test {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 500px;
  height: auto;
  justify-content: space-evenly;
}

.right  {
  width: 500px;
  height: auto;
  justify-content: space-between;
}

img {
  width: 450px;
  height: auto;
  margin: 10px;
  padding: 10px;
}

p {
  margin: 10px;
  padding: 10px;
}

h2 {
  padding-left: 30px;

}
